<p> <%=link_to "Add employee", new_employee_path %> </p>
<p> <%=link_to "Add job seeker", new_jobseeker_path %> </p>
<p> <%=link_to "Show employees", employees_path %> </p>
<p> <%=link_to "Show job seekers", jobseekers_path %> </p>