h2 {
	font-size: 24px;
	color: blue;	
}

div1 {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 1px solid black;
	background: yellow;
}

div {
	font-style: italic;
	padding-bottom: 5px;
	padding-left: 10%;

}

h3 {
	font-weight: normal;
	padding-left: 5%;
}



body {
	margin-right: auto;
	margin-left: auto;
	padding-left: 40%;
	background-color: #33FFCC;
background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.53, #FFA02D),
	color-stop(1, #E4F009),
	color-stop(1, #E38512)
);
background-image: -o-linear-gradient(bottom, #FFA02D 53%, #E4F009 100%, #E38512 100%);
background-image: -moz-linear-gradient(bottom, #FFA02D 53%, #E4F009 100%, #E38512 100%);
background-image: -webkit-linear-gradient(bottom, #FFA02D 53%, #E4F009 100%, #E38512 100%);
background-image: -ms-linear-gradient(bottom, #FFA02D 53%, #E4F009 100%, #E38512 100%);
background-image: linear-gradient(to bottom, #FFA02D 53%, #E4F009 100%, #E38512 100%);
background-size: cover;
}

html {
	position: relative;
}

